@model Pagador.Models.Pedido

@{
    ViewData["Title"] = "Consulta";
}

<h2>Número do Pedido: @Html.DisplayFor(model => model.Payment.PaymentId)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Customer.Name, new { @class = "form-control"})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.CreditCard.CardNumber)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.CreditCard.CardNumber, new { @class = "form-control"})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.CreditCard.Holder)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.CreditCard.Holder, new { @class = "form-control" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.CreditCard.Brand)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.CreditCard.Brand, new { @class = "form-control" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.CreditCard.ExpirationDate)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.CreditCard.ExpirationDate, new { @class = "form-control" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.Provider)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.Provider, new { @class = "form-control" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.Type)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.Type, new { @class = "form-control" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.Amount)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.Amount, new { @class = "form-control" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.Installments)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.Installments, new { @class = "form-control" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment.ProofOfSale)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.Payment.ProofOfSale, new { @class = "form-control" })
        </dd>
    </dl>
</div>

<form method="post">
    <input asp-for="Payment.PaymentId" type="hidden" />

    @if (Model.Payment.Status == 1)
    {
        <button type="submit" class="btn btn-primary" asp-controller="Transacao" asp-action="Capturar">Capturar pedido</button>
    }
    @if (Model.Payment.Status == 1 || Model.Payment.Status == 2)
    {
        <button type="submit" class="btn btn-primary" asp-controller="Transacao" asp-action="Cancelar">Cancelar pedido</button>
    }

    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Voltar</a>
</form>